{{ define "main" }} {{ partial "header.html" . }}
<section class="main post-list">
  <header class="list-header offscreen">
    <h2 class="list-label">All Posts</h2>
  </header>
  <ul>
    <!-- Ranges through content/posts/*.md -->
    {{ range (where .Site.RegularPages "Type" "post") }}
    <li>
      <a href="{{.Permalink}}">{{.Date.Format "2006-01-02"}} | {{.Title}}</a>
    </li>
    {{ end }}
  </ul>
  <footer class="list-footer">
  </footer>
</section>
{{ partial "footer.html" . }} {{ end }}
